main {
  background: var(--creme-white);
  border-radius: 15px;
  margin: auto;
  margin-top: 4rem;
  padding: 3rem;
  max-width: 768px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
