td {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: var(--pastell-green);
  width: 96px;
  height: 96px;
  /* border: 4px solid var(--creme-white); */
  border-radius: 15px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}

td.player-o {
  background-color: var(--pastell-yellow);
}

td.player-x {
  background-color: var(--danger-orange);
}

.button-container {
  margin-top: 4rem;
}
