td {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: var(--pastell-green);
  width: 96px;
  height: 96px;
  border-radius: 15px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  color: var(--creme-white);
  border-collapse: separate;
  border-spacing: 16px;
}

td.player-o {
  background-color: var(--pastell-yellow);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

td.player-x {
  background-color: var(--danger-orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.button-container {
  margin-top: 4rem;
}

@media (max-width: 720px) {
  td {
    width: 100vw;
    height: 25vi;
  }
}

@media (max-width: 475px) {
  td {
    width: 100vw;
    height: 25vi;
  }
}
