<section>
  <table [cellSpacing]="8">
    <tbody>
      <tr>
        <td
          (click)="handleClick(0, 0)"
          [ngClass]="{
            'player-x': gameService.board[0][0] === 'X',
            'player-o': gameService.board[0][0] === 'O'
          }"
        >
          {{ gameService.board[0][0] }}
        </td>

        <td
          (click)="handleClick(0, 1)"
          [ngClass]="{
            'player-x': gameService.board[0][1] === 'X',
            'player-o': gameService.board[0][1] === 'O'
          }"
        >
          {{ gameService.board[0][1] }}
        </td>

        <td
          (click)="handleClick(0, 2)"
          [ngClass]="{
            'player-x': gameService.board[0][2] === 'X',
            'player-o': gameService.board[0][2] === 'O'
          }"
        >
          {{ gameService.board[0][2] }}
        </td>
      </tr>

      <tr>
        <td
          (click)="handleClick(1, 0)"
          [ngClass]="{
            'player-x': gameService.board[1][0] === 'X',
            'player-o': gameService.board[1][0] === 'O'
          }"
        >
          {{ gameService.board[1][0] }}
        </td>

        <td
          (click)="handleClick(1, 1)"
          [ngClass]="{
            'player-x': gameService.board[1][1] === 'X',
            'player-o': gameService.board[1][1] === 'O'
          }"
        >
          {{ gameService.board[1][1] }}
        </td>

        <td
          (click)="handleClick(1, 2)"
          [ngClass]="{
            'player-x': gameService.board[1][2] === 'X',
            'player-o': gameService.board[1][2] === 'O'
          }"
        >
          {{ gameService.board[1][2] }}
        </td>
      </tr>

      <tr>
        <td
          (click)="handleClick(2, 0)"
          [ngClass]="{
            'player-x': gameService.board[2][0] === 'X',
            'player-o': gameService.board[2][0] === 'O'
          }"
        >
          {{ gameService.board[2][0] }}
        </td>

        <td
          (click)="handleClick(2, 1)"
          [ngClass]="{
            'player-x': gameService.board[2][1] === 'X',
            'player-o': gameService.board[2][1] === 'O'
          }"
        >
          {{ gameService.board[2][1] }}
        </td>

        <td
          (click)="handleClick(2, 2)"
          [ngClass]="{
            'player-x': gameService.board[2][2] === 'X',
            'player-o': gameService.board[2][2] === 'O'
          }"
        >
          {{ gameService.board[2][2] }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button type="button" (click)="resetBoard()">Reset Game</button>
  </div>
  <!-- Winner or Draw Message -->
  <div
    *ngIf="gameService.winner || gameService.isDraw"
    class="game-over-message"
  >
    <h2 *ngIf="gameService.winner">
      Game Over! Player {{ gameService.winner }} wins!
    </h2>
    <h2 *ngIf="gameService.isDraw && !gameService.winner">
      Game Over! It's a draw!
    </h2>
    <button class="reset-button" (click)="resetBoard()">Reset Game</button>
  </div>
</section>
