<section>
  <table [cellSpacing]="4">
    <tbody>
      <tr *ngFor="let row of gameService.board; let rowIndex = index">
        <td
          *ngFor="let cell of row; let colIndex = index"
          (click)="handleClick(rowIndex, colIndex)"
          [ngClass]="{
            'player-x': cell === 'X',
            'player-o': cell === 'O'
          }"
        >
          {{ cell }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-container">
    <app-button title="Reset Game" (buttonClick)="resetBoard()"></app-button>
  </div>
  <app-modal
    [winner]="gameService.winner"
    [isDraw]="gameService.isDraw"
    (resetGame)="resetBoard()"
  ></app-modal>
</section>
