section {
  background: var(--pastell-yellow);
  padding: 2rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  place-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.player-icon-container {
  width: 2rem;
}
